@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}
/* start commented backslash hack \*/

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}
/* close commented backslash hack */

body {
  font-family: 'Montserrat', sans-serif;
}

#navPrincipal li, body{
  background-color: #277892;
}
#aux a{
  color:#0E1C20;
}


#contenedor {
  width: 960px;
  background-color: #FFF;
  margin: 0 auto;
}

#logo {
  margin: 20px;
  float: left;
}

#aux{
  float:right;
  clear:right;
  padding:0 24px 10px 0;
}

#navPrincipal a{
  color:#0E1C20;
  cursor:pointer;
  color:#FFF;
  font-size:14px;
}

#aux a{
  text-decoration:underline;
  cursor:pointer;
  color:#FFF;
  font-size:14px;
}

#navPrincipal {
  float: left;
  margin-top: 35px;
  margin-right:20px;
  max-width:750px;
}

#navPrincipal li {
  list-style-type: none;
  padding: 10px;
  border: 1px solid #6B6B6B;
  margin: 5px;
  float: left;
}

#cabezal {
  background-color: #7BBBd1;
}

#contenido {
  /*background-color: #DFDFDF;*/
  /*width: 590px;*/
  padding:20px;
  float: left;
}

#lateral {
  background-color: #EFEFEF;
  width: 290px;
  float: left;
  padding:20px;
}

#lateral, #contenido{
  min-height:250px;
}

#pie {
  background-color: #7BBBd1;
  clear: both;
  padding:20px;
  color:#FFF;
  font-size:12px;
}

input{
  color:#fff;
  border:1px solid #CCC;
  padding:5px 10px;
}

input[type='button']{
  background-color:#277892;
}

input[type='text'],input[type='password'] {
  background-color:#7BBBd1;
  color:#333;
}